<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.etc.dao.IAddressMapper">	
		
	<resultMap type="com.etc.entity.Address" id="addressResultMap">
		<id property="addid" column="addid"/>
		<result property="addname" column="addname"/>
		<result property="addphonenum" column="addphonenum"/>
		<result property="addsex" column="addsex"/>
		<result property="address" column="address"/>
		<result property="addnum" column="addnum"/>
		<result property="isdefault" column="isdefault"/>
		
	</resultMap>
	
	
	<select id="findAllAddress" resultMap="addressResultMap">
		select * from address
	</select>
	

	
	<insert id="addAddress" parameterType="com.etc.entity.Address">
		insert into user 
		values(null,#{userid},#{addname},#{addphonenum},#{addsex},#{address},#{addnum},#{isdefault})
	</insert>
	
	<delete id="deleteAddressById" parameterType="com.etc.entity.Address">
		delete from address where addid = #{addid}
	</delete>
	

  
  </mapper>
