<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.etc.dao.IShoprMapper">	
		
	<resultMap type="com.etc.entity.Address" id="addressResultMap">
		<id property="addid" column="addid"/>
		<result property="userid" column="userid"/>
		<result property="addname" column="addname"/>
		<result property="addphonenum" column="addphonenum"/>
		<result property="addsex" column="addsex"/>
		<result property="address" column="address"/>
		<result property="addnum" column="addnum"/>
		<result property="isdefault" column="isdefault"/>
		
	</resultMap>
	
	
	<resultMap type="com.etc.entity.User" id="userResultMap">
		<id property="userID" column="userID"/>
		<result property="account" column="account"/>
		<result property="password" column="password"/>
		<result property="alipayaccount" column="alipayaccount"/>
		<result property="wechataccount" column="wechataccount"/>
		<result property="userphonenum" column="userphonenum"/>
		<result property="isvip" column="isvip"/>
		<result property="money" column="money"/>
		<result property="usersex" column="usersex"/>
		<result property="username" column="username"/>
		<result property="viptime" column="viptime"/>
			
		<association property="address" javaType="com.etc.entity.Address" >
					
			<id property="addid" column="addid"/>
			<result property="userid" column="userid"/>
			<result property="addname" column="addname"/>
			<result property="addphonenum" column="addphonenum"/>
			<result property="addsex" column="addsex"/>
			<result property="address" column="address"/>
			<result property="addnum" column="addnum"/>
			<result property="isdefault" column="isdefault"/>
			
		</association>
		
	</resultMap>
	
	<select id="findAllAddress" resultMap="userResultMap">
		select * from address
	</select>
	
	<select id="findAddressByUserName" resultMap="shopResultMap">
		select * from user u,address a where u.userid=a.userid AND u.userid = #{Username};
	</select>
	
	<insert id="addAddress" parameterType="com.etc.entity.Shop">
		insert into user 
		values(null,#{userid},#{addname},#{addphonenum},#{addsex},#{address},#{addnum},#{isdefault})
	</insert>
	
	<delete id="deleteAddressById" parameterType="com.etc.entity.shop">
		delete from address where addid = #{addid}
	</delete>
	

  
  </mapper>
