<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.etc.dao.IShoprMapper">
  
  
    <resultMap type="com.etc.entity.Food" id="foodResultMap">
		<id property="foodid" column="foodid"/>
		<result property="foodprice" column="foodprice"/>
		<result property="onsale" column="onsale"/>
		<result property="fimgpath" column="fimgpath"/>
		<result property="foodcontent" column="foodcontent"/>
	</resultMap>
  

	
	<select id="findAllFood" resultMap="foodResultMap">
		select * from food
	</select>
	
	<select id="findFoodByFoodId" resultMap="foodResultMap">
		select * from food where foodid = #{foodid}
	</select>
	

	
	<insert id="addFood" parameterType="com.etc.entity.Food">
		insert into food 
		values(null,#{foddname},#{shopid},#{foodprice},#{onsale},#{fimgpath},#{foodcontent})
	</insert>
	
	<delete id="deleteFoodByFoodId" parameterType="com.etc.entity.Food">
		delete from food where foodid = #{foodid}
	</delete>
	
  </mapper>
