<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.etc.dao.IShopMapper">
  
	<resultMap type="com.etc.entity.Shop" id="shopResultMap">
		<id property="shopid" column="shopid"/>
		<result property="shopname" column="shopname"/>
		<result property="shopadd" column="shopadd"/>
		<result property="sendmoney" column="sendmoney"/>
		<result property="score" column="score"/>
		<result property="monthsalas" column="monthsalas"/>	
	</resultMap>
	
	
	
	<resultMap type="com.etc.entity.Shop" id="shopAndFoodResultMap">
		<id property="shopid" column="shopid"/>
		<result property="shopname" column="shopname"/>
		<result property="shopadd" column="shopadd"/>
		<result property="sendmoney" column="sendmoney"/>
		<result property="score" column="score"/>
		<result property="monthsalas" column="monthsalas"/>
		
		<collection property="foodlist" ofType="com.etc.entity.Food">
			<id property="foodid" column="foodid"/>
			<result property="foodname" column="foodname"/>
			<result property="foodprice" column="foodprice"/>
			<result property="onsale" column="onsale"/>
			<result property="fimgpath" column="fimgpath"/>
			<result property="foodcontent" column="foodcontent"/>
		</collection>
	</resultMap>
	
	
	<resultMap type="com.etc.entity.Shop" id="shopAllResultMap">
		<id property="shopid" column="shopid"/>
		<result property="shopname" column="shopname"/>
		<result property="shopadd" column="shopadd"/>
		<result property="sendmoney" column="sendmoney"/>
		<result property="score" column="score"/>
		<result property="monthsalas" column="monthsalas"/>
		
		<collection property="collectlist" ofType="com.etc.entity.Collect">

		</collection>
		
		<collection property="orderlist" ofType="com.etc.entity.Order">
			<id property="orderid" column="orderid"/>
			<result property="ordertime" column="ordertime"/>
			<result property="reachtime" column="reachtime"/>
			<result property="bocost" column="bocost"/>
			<result property="reachcost" column="reachcost"/>
		</collection>
		
		<collection property="shopredpacketlist" ofType="com.etc.entity.ShopRedPacket">
			<id property="sredid" column="sredid"/>
			<result property="sredname" column="sredname"/>
			<result property="discount" column="discount"/>
			<result property="fulldisc" column="fulldisc"/>
			<result property="redcontent" column="redcontent"/>
			<result property="rbegintime" column="rbegintime"/>
			<result property="rendtime" column="rendtime"/>
		</collection>
		
		<collection property="shoppinglist" ofType="com.etc.entity.Shopping">
			<result property="foodnum" column="foodnum"/>	
		</collection>
		
		<collection property="discountlist" ofType="com.etc.entity.Discount">
			<id property="sdiscid" column="sdiscid"/>
			<result property="discount" column="discount"/>
			<result property="fulldisc" column="fulldisc"/>
			<result property="discontent" column="discontent"/>
		</collection>
		
		<collection property="commentlist" ofType="com.etc.entity.Comment">
			<id property="sdiscid" column="sdiscid"/>
			<result property="discount" column="discount"/>
			<result property="fulldisc" column="fulldisc"/>
			<result property="discontent" column="discontent"/>
		</collection>
		
		<collection property="foodlist" ofType="com.etc.entity.Food">
			<id property="foodid" column="foodid"/>
			<id property="foodname" column="foodname"/>
			<result property="foodprice" column="foodprice"/>
			<result property="onsale" column="onsale"/>
			<result property="fimgpath" column="fimgpath"/>
			<result property="foodcontent" column="foodcontent"/>
		</collection>
		
	</resultMap>
	
	
	<select id="findAllShop" resultMap="shopResultMap">
		select * from shop
	</select>
	
	<select id="findShopByName" resultMap="shopResultMap">
		select * from shop where shopname = #{shopname}
	</select>
	
	<select id="findFoodByShopName" resultMap="shopResultMap">
		select * from food f,shop s where shopname = #{shopname} and s.shopid = f.shopid
	</select>
	
		
	<select id="findFoodOfShop" resultMap="shopAllResultMap">
		select * from food f,shop s where s.shopid = f.shopid
	</select>
	
	<insert id="addUser" parameterType="com.etc.entity.Shop">
		insert into shop 
		values(null,#{shopname},#{shopadd},null,null,null)
	</insert>
	
	<delete id="deleteShopById" parameterType="com.etc.entity.Shop">
		delete from shop where shopid = #{shopid}
	</delete>
	
	<update id="updateShopById">
 		update shop set shopname = #{shopname} where shopid = #{shopid}
 	</update>
  
  </mapper>
