<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.etc.dao.IShoppingMapper">
  
	<resultMap type="com.etc.entity.Shopping" id="shoppingResultMap">
		<result property="foodnum" column="foodnum"/>	
	</resultMap>
	

	<select id="findAllShopping" resultMap="shoppingResultMap">
		select * from shopping
	</select>
	

	
	<select id="findshoppingByAllId" resultMap="shoppingResultMap">
		select * from shopping where userid = #{userid} and shopid = #{shopid} and foodid = #{foodid} 
	</select>
	
	<insert id="addShopping" parameterType="com.etc.entity.Shopping">
		insert into shopping 
		values(#{userid},#{shopid},#{foodid},#{foodnum})
	</insert>
	
	<delete id="deleteShoppingByUserId" parameterType="com.etc.entity.User">
		delete from shopping s,user u where u.userid = s.userid and u.username = #{username}
	</delete>
	
	<delete id="deleteShoppingByAllId" parameterType="com.etc.entity.Shopping">
		delete from shopping where userid = #{userid} and shopid = #{shopid} and foodid = #{foodid}
	</delete>
	
	<update id="updateShoppingByAllId">
 		update shop set foodnum = #{foodnum} where userid = #{userid} and shopid = #{shopid} and foodid = #{foodid}
 	</update>
  
  </mapper>
