<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.etc.dao.IShoprMapper">
  
	<resultMap type="com.etc.entity.Shopping" id="shoppingResultMap">
  
		<id property="userid" column="userid"/>
		<id property="shopid" column="shopid"/>
		<id property="foodid" column="foodid"/>
		<result property="foodnum" column="foodnum"/>

		
	</resultMap>
	
	
	<resultMap type="com.etc.entity.User" id="userResultMap">
		<id property="userID" column="userID"/>
		<result property="account" column="account"/>
		<result property="password" column="password"/>
		<result property="alipayaccount" column="alipayaccount"/>
		<result property="wechataccount" column="wechataccount"/>
		<result property="userphonenum" column="userphonenum"/>
		<result property="isvip" column="isvip"/>
		<result property="money" column="money"/>
		<result property="usersex" column="usersex"/>
		<result property="username" column="username"/>
		<result property="viptime" column="viptime"/>
			
		<association property="shopping" javaType="com.etc.entity.Shopping" >
			<id property="userid" column="userid"/>
			<id property="shopid" column="shopid"/>
			<id property="foodid" column="foodid"/>
			<result property="foodnum" column="foodnum"/>	
		</association>
	</resultMap>
	
	<select id="findAllShopping" resultMap="shoppingResultMap">
		select * from shopping
	</select>
	
	<select id="findShoppingByUserName" resultMap="userResultMap">
		select * from User u,shop s where  u.username = s.username and  u.username = #{username}
	</select>
	
	<select id="findshoppingByAllId" resultMap="shoppingResultMap">
		select * from shopping where userid = #{userid} and shopid = #{shopid} and foodid = #{foodid} 
	</select>
	
	<insert id="addShopping" parameterType="com.etc.entity.Shopping">
		insert into shopping 
		values(#{userid},#{shopid},#{foodid},#{foodnum})
	</insert>
	
	<delete id="deleteShoppingByUserId" parameterType="com.etc.entity.User">
		delete from shopping s,user u where u.userid = s.userid and u.username = #{username}
	</delete>
	
	<delete id="deleteShoppingByAllId" parameterType="com.etc.entity.Shopping">
		delete from shopping where userid = #{userid} and shopid = #{shopid} and foodid = #{foodid}
	</delete>
	
	<update id="updateShoppingByAllId">
 		update shop set foodnum = #{foodnum} where userid = #{userid} and shopid = #{shopid} and foodid = #{foodid}
 	</update>
  
  </mapper>
