<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.etc.dao.IUserMapper">
  
  	<resultMap type="com.etc.entity.User" id="userResultMap">
		<id property="userID" column="userID"/>
		<result property="account" column="account"/>
		<result property="password" column="password"/>
		<result property="alipayaccount" column="alipayaccount"/>
		<result property="wechataccount" column="wechataccount"/>
		<result property="userphonenum" column="userphonenum"/>
		<result property="isvip" column="isvip"/>
		<result property="money" column="money"/>
		<result property="usersex" column="usersex"/>
		<result property="username" column="username"/>
		<result property="viptime" column="viptime"/>
	</resultMap>


  	<resultMap type="com.etc.entity.User" id="userAllResultMap">
		<id property="userID" column="userID"/>
		<result property="account" column="account"/>
		<result property="password" column="password"/>
		<result property="alipayaccount" column="alipayaccount"/>
		<result property="wechataccount" column="wechataccount"/>
		<result property="userphonenum" column="userphonenum"/>
		<result property="isvip" column="isvip"/>
		<result property="money" column="money"/>
		<result property="usersex" column="usersex"/>
		<result property="username" column="username"/>
		<result property="viptime" column="viptime"/>
		
		<collection property="addresslist" ofType="com.etc.entity.Address" >
			<id property="addid" column="addid"/>
			<result property="addname" column="addname"/>
			<result property="addphonenum" column="addphonenum"/>
			<result property="addsex" column="addsex"/>
			<result property="address" column="address"/>
			<result property="addnum" column="addnum"/>
			<result property="isdefault" column="isdefault"/>
		</collection>
		
		<collection property="userredpacketlist" ofType="com.etc.entity.UserRedPacket" >
				<id property="uredid" column="uredid"/>
		</collection>
		
		<collection property="shoppinglist" ofType="com.etc.entity.Shopping">
			<result property="foodnum" column="foodnum"/>	
		</collection>
		
		<collection property="orderlist" ofType="com.etc.entity.Order">
			<id property="orderid" column="orderid"/>
			<result property="ordertime" column="ordertime"/>
			<result property="reachtime" column="reachtime"/>
			<result property="bocost" column="bocost"/>
			<result property="reachcost" column="reachcost"/>
		</collection>
		
		<collection property="collectlist" ofType="com.etc.entity.Collect">

		</collection>
		
	</resultMap>
	
	
	
	<resultMap type="com.etc.entity.User" id="userAndAddressResultMap">
		<id property="userID" column="userID"/>
		<result property="account" column="account"/>
		<result property="password" column="password"/>
		<result property="alipayaccount" column="alipayaccount"/>
		<result property="wechataccount" column="wechataccount"/>
		<result property="userphonenum" column="userphonenum"/>
		<result property="isvip" column="isvip"/>
		<result property="money" column="money"/>
		<result property="usersex" column="usersex"/>
		<result property="username" column="username"/>
		<result property="viptime" column="viptime"/>
			
		<collection property="addresslist" ofType="com.etc.entity.Address" >
					
			<id property="addid" column="addid"/>
			<result property="addname" column="addname"/>
			<result property="addphonenum" column="addphonenum"/>
			<result property="addsex" column="addsex"/>
			<result property="address" column="address"/>
			<result property="addnum" column="addnum"/>
			<result property="isdefault" column="isdefault"/>
			
		</collection>
		
	</resultMap>
	
		<resultMap type="com.etc.entity.User" id="userAndShoppingResultMap">
		<id property="userID" column="userID"/>
		<result property="account" column="account"/>
		<result property="password" column="password"/>
		<result property="alipayaccount" column="alipayaccount"/>
		<result property="wechataccount" column="wechataccount"/>
		<result property="userphonenum" column="userphonenum"/>
		<result property="isvip" column="isvip"/>
		<result property="money" column="money"/>
		<result property="usersex" column="usersex"/>
		<result property="username" column="username"/>
		<result property="viptime" column="viptime"/>
			
		<collection property="shoppinglist" ofType="com.etc.entity.Shopping" >
			<result property="foodnum" column="foodnum"/>	
		</collection>
	</resultMap>
	
	
	<select id="findUser" resultMap="userResultMap">
		select * from user 
		where account = #{account}
		<if test="password !=null and password !=''">
			and password = #{password}
		</if>
		<if test="userphonenum !=null and userphonenum !=''">
			or userphonenum = #{userphonenum}
		</if>
	</select>
	
	
	
	
	<select id="findAddressByUserName" resultMap="userAndAddressResultMap">
		select * from user u,address a where u.userid=a.userid AND u.username = "lin";
	</select>
	
	
	<select id="findShoppingByUserName" resultMap="userAndShoppingResultMap">
		select * from User u,shop s where  u.username = s.username and  u.username = #{username}
	</select>
	
	<insert id="addUser" parameterType="com.etc.entity.User">
		insert into user 
		values(null,#{account},#{password},null,null,#{userphonenum},#{isvip},#{money},#{usersex},#{username},null)
	</insert>
  
  </mapper>
